# pip install -U -r requirements.txt
Cython==0.29.33
matplotlib==3.6.3
numpy==1.24.2
#opencv-python>=4.1.2
opencv-contrib-python==4.4.0.46
pillow==9.4.0
easydict
# pycocotools>=2.0
PyYAML==6.0
scipy==1.10.0
tensorboard==2.11.2
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
